<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

 <form (submit)=""  *ngIf="!isLoading">
     <mat-form-field>
       <input matInput type="email" name="email" placeholder="email">
       <mat-error *ngIf="email.invalid">Please enter a email</mat-error>
     </mat-form-field>
     <mat-form-field>
       <input matInput type="password" name="password" placeholder="password">
       <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
     </mat-form-field>
     <hr />
     <button mat-raised-button color="primary" type="submit">Login</button>
 </form>
 </mat-card>
